.word--crossword {
    position: relative;
	font-size: 3.45vw;
	font-family: 'Barrio', serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	line-height: 5.1vh;
    margin-top: 1vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, 0.65em);
    margin-left: 18.5vw;
}
.word--crossword span {
	text-align: center;	
	display: block;
}

.word__cross {
    
	pointer-events: none;
	color: #3f2b9a;
    font-size: 2.5vw;
}

.word__cross span {
	opacity: 0;
}