*,
*::after,
*::before {
	box-sizing: border-box;
}
html {
	background: #654dd4;
}

.page-crossword {
	--color-text: #fff;
	--color-link: #ffed0b;
    --color-background: #654dd4;
	--color-link-hover: #fff;
}

body {
    margin: 0 0;
    padding: 0px;
	font-family: 'Nunito', monospace;
	color: var(--color-text);
	background-color: var(--color-background);
	min-height: 100vh;
    width: 100%;
}

.js body {
	opacity: 0;
	transition: opacity 1s;
}

.js body.render {
	opacity: 1;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

main {
	position: relative;
    width: 100%;
}

.content {
	position: relative;
	display: table;
	min-height: 100px;
	margin: 0 0;
}

.logo img{
    float: left;
    margin-left: 14.3%;
    margin-top: 5%;
    width: 20%;
}

.pic{
    position: absolute;
    margin-left: 43.1%;
    margin-top: 0px;
    width: 56.9%;
    height: 214.3%;
    border-bottom-left-radius: 25px;
    background-color: #654dd4;
    overflow: hidden;
    text-align: center;
}

.pic img{
    margin-left: -10.4%;
    width: 113.5%;
    height: 100%;
}

@font-face {
    src: url('font/originality.ttf');
    font-family: originality;
}

.quote{
    font-family: originality;
    font-size: 5vh;
    line-height: 35px;
    font-weight: 200;
    position: absolute;
    margin-left: 50%;
    margin-top: -60%;
    transform: translate(-50%, -50%);
}

.content--layout {
	grid-template-columns: 100%;
}

.intro{
    position: absolute;
    margin-top: 3%;
    background-color: #654dd4;
    height: 100%;
    width: 100%;
}

.intro p{
    color: #32266a;
    background-color: white;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 15px;
    height: 50%;
    width: 90%;
}
@media screen and (max-width: 50em) {
	html, body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.content {
		height: auto;
		min-height: 0;
	}
	.content--layout {
		overflow: visible;
	}
}
