*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    background: #654dd4;
}

.page-crossword {
    --color-text: #fff;
    --color-link: #ffed0b;
    --color-background: #654dd4;
    --color-link-hover: #fff;
}

body {
    margin: 0 0;
    padding: 0px;
    font-family: 'Nunito', monospace;
    color: var(--color-text);
    background-color: var(--color-background);
    min-height: 100vh;
    width: 100%;
}

.js body {
    opacity: 0;
    transition: opacity 1s;
}

.js body.render {
    opacity: 1;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

main {
    position: relative;
    width: 100%;
}

.content {
    position: relative;
    display: grid;
    min-height: 100px;
    margin: -3px 0;
}

.logo img {
    float: left;
    margin-left: 14.3vw;
    margin-top: 5vh;
    width: 20vw;
}

.pic {
    position: absolute;
    margin-left: 43.1vw;
    margin-top: 1px;
    width: 55.79vw;
    height: 94vh;
    border-bottom-left-radius: 25px;
    background-color: #654dd4;
    overflow: hidden;
    text-align: center;
}

.pic img {
    margin-top: -6vh;
    margin-left: -4vw;
    width: 60vw;
    height: 100vh;
}

@font-face {
    src: url("../font/originality.woff")format("woff"),
         url("../font/originality.ttf")format("truetype");
    font-family: originality;
}

.quote {
    font-family: originality, sans-serif;
    font-size: 2.5vw;
    line-height: 4.5vh;
    font-weight: 200;
    position: absolute;
    margin-left: 29vw;
    margin-top: -70vh;
    transform: translate(-50%, -50%);
}

.content--layout {
    grid-template-columns: 100%;
}

.intro {
    position: absolute;
    margin-top: 3%;
    background-color: #654dd4;
    height: 80%;
    width: 100%;
}

.intro p {
    color: #32266a;
    background-color: white;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 15px;
    height: 50%;
    width: 90%;
}

.bottom_nav_curve {
    position: absolute;
    width: 100%;
    height: 20%;
    margin-top: 45%;
}

.univ_logo {
    position: absolute;
    background-color: #1c1c1c;
    height: 20%;
    width: 100%;
    margin-top: 50%;
    align-content: flex-start;
}

.univ_logo img{
    height: 70%;
    margin: 0 20% 0 45%;
}

@media screen and (max-width: 50em) {

    html,
    body {
        overflow-x: hidden;
        width: 100vw;
        height: 100%;
    }

    .content {
        height: auto;
        min-height: 0;
    }

    .content--layout {
        overflow: visible;
    }
}
