*,
*::after,
*::before {
	box-sizing: border-box;
}
html {
	background: #654;
}

/* Color scheme */

.page-crossword {
	--color-text: #fff;
	--color-link: #ffed0b;
    --color-background: #654dd4;
	--color-link-hover: #fff;
}

body {
    margin: 0 0;
	font-family: 'Nunito', monospace;
	color: var(--color-text);
	background-color: var(--color-background);
	min-height: 100vh;
    width: 770px;
}

.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-background);
}

.js .loading::after {
	content: '';
	box-shadow: 20px 0 0, -20px 0 0;
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin: -5px 0 0 -5px;
	pointer-events: none;
	border-radius: 50%;
	background: var(--color-text);
	animation: loaderAnim 1s ease-in-out infinite alternate forwards;
}

@keyframes loaderAnim {
	0% {
		box-shadow: 20px 0 0 var(--color-text), -20px 0 0 transparent;
		background: transparent;
	}
	50% {
		box-shadow: 20px 0 0 transparent, -20px 0 0 transparent;
		background: var(--color-text);
	}
	100% {
		box-shadow: 20px 0 0 transparent, -20px 0 0 var(--color-text);
		background: transparent;
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

main {
	position: relative;
    width: 100%;
}

.content {
	position: relative;
	display: table;
	min-height: 100px;
	margin: 0 0;
}

.logo img{
    float: left;
    margin-left: 240px;
    margin-top: 60px;
    width: 256px;
}

.pic{
    position: relative;
    margin-left: 740px;
    margin-top: 0px;
    position: fixed;
    height: 100%;
    width: 796px;
    overflow: hidden;
    text-align: center;
}

.pic img{
    margin-left: -125px;
    width: 980px;
    height: auto;
}

@font-face {
    src: url('font/originality.ttf');
    font-family: originality;
}

.quote{
    font-family: originality;
    font-size: 5vh;
    line-height: 35px;
    font-weight: 200;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -160%);
}
.content--layout {
	grid-template-columns: 100%;
}

@media screen and (max-width: 50em) {
	html, body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.content {
		height: auto;
		min-height: 0;
	}
	.content--layout {
		overflow: visible;
	}
}
