<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link rel="stylesheet" href="css/styles.css"/>
  </head>
  <body  class="signup" >
    <h2 class="text">Sign Up</h2>
    <p class="text">Sign up here and stay Updated with upcoming events</p>
    <div>
      <form >
        <label for="fname">First Name</label>
        <br/>
        <input class="input-details" type="text" id="fname" name="firstname" placeholder="First Name"/>
        <br/>
        <label for="lname">Last Name</label>
        <br/>
        <input class="input-details" type="text" id="lname" name="lastname" placeholder="Last Name"/>
        <br/>
        <label for="mail">Email</label>
        <br/>
        <input class="input-details" type="email" name="Email" placeholder="Enter your Email"/>
        <br/>
        <label for="option">Area of Study</label>
        <br/>
        <select id="option" name="Subject">
          <option value="">Biology</option>
          <option value="">Computer Science and Engineering</option>
          <option value="">Civil Engineering</option>
          <option value="">Electrical Engineering</option>
          <option value="">Electronics and communication Engineering</option>
          <option value="">Mechanical Engineering</option>
          <option value="">MBA</option>
          <option value="">Mathematics</option>
          <option value="">Chemistry</option>
          <option value="">Physics</option>
          <option value="">Statistics</option>
          <option value="">Nursing</option>
          <option value="">English</option>
          <option value="">Theology</option>
        </select>
        <br/>
        <input class="submit"value="Submit" type="submit">
      </form>
    </div>
  </body>
</html>
